*{
    margin: 0px;
}

.section1 {
    text-align: center;
    color: white;
    background-image: url('../Images/h_img.jpg');
    background-position: center;
    background-size: cover;
    height: 80vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.section1 img{
    padding-top: 150px;
}
.section1 h2{
    padding-top: 20px;
    font-weight: bold;
}
.section1 h3{
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
}
.section1 p{
    font-size: 10px;
}
.img2 {
    padding-top: 1px;
}
.section2{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.section2 p{
    line-height: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.section3{
    text-align: center;
    color: white;
    margin-top: 9px;
    background-image: url('../Images/s_image.jpg');
    background-position: center;
    background-size: cover;
    height: 40vh;
}
.section3 p{
    line-height: 55px;
    color: white;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.section3 h2{
    padding-top: 65px;
    color: white;
}
.section4{
    text-align: center;
    height: 500px;

}
.section4 h2{
    padding-top: 40px;
}
.image1{
    float:left;
    margin-left: 10%;
}
.image2{
    float: none;
    margin: 0%;
}
.image3{
    float: right;
    margin-right: 10%;
}
.section5{
    text-align: center;
    height: 700px;
}
.section5 h2{
    padding-top: 40px;
}
.portfolio{ 
    padding-left: 50px;
}
#section6{
    background-image: url(../Images/c_image.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;
    padding-top: 40px;
    text-align: center;
    color: white;
    background-color: transparent;
}
/* .contact-us h3{ */
input{
    color: white;
}
::placeholder{
    color: white;
}
input[type="text"], [type="email"]{
    background: transparent;
    border: 1px solid white ;
}
textarea{
    background: transparent;
    border: 1px solid white ;
}
.footer{
    text-align-last: center;
    align-items: center;
    color: black;
    padding-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 10px;
}
#design{
    display: none;
}
.alignDesign{
    text-align: center;
}    
.boldDesign{
    font-weight: bold;
    text-align: center;
}
#development{
    display: none;
}
.alignDesign{
    text-align: center;
}    
.boldDesign{
    font-weight: bold;
    text-align: center;
}
#product{
    display: none;
}
.alignDesign{
    text-align: center;
}    
.boldDesign{
    font-weight: bold;
    text-align: center;
}